<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	
	<!-- the target to write to-->
	<targets>
		<!-- write logs to file -->
		<target name="allfile" xsi:type="File"
				filename="D:\ASP.Net Projects\DESI8N.com\Logs\nlog-all-${shortdate}.log"/>
	</targets>
	
	<!-- rules to map from logger name to target -->
	<rules>
		<!-- all logs, including from Microsoft -->
		<logger name="*" minlevel="Trace" writeTo="allfile"/>
	</rules>
</nlog>